<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="rdavisau myget" value="https://www.myget.org/F/rdavisau/api/v3/index.json" />
    <add key="ei myget" value="https://www.myget.org/F/ei/api/v3/index.json" />
  </packageSources>
</configuration>
